html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body div p {
    margin: 0px;
    padding: 0px;
}

.topBar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    background-color: #3a3d3d;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.topText {
    position: absolute;
    left: 5px;
    width: 80%;
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;
}

.closeButton {
    position: absolute;
    right: 11px;
    width: 17px;
    height: 17px;
    margin-top: 6px;
    margin-bottom: 6px;
    -webkit-app-region: no-drag;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.errMsg {
    color: #FF0000;
    font-size: 14px;
}

.msg {
    font-size: 14px;
}